<!DOCTYPE html>
<html>
  <head>
    <title>棒直播</title>
    <style type="text/css">
      .ms-controller{
        display: none;
      }
    </style>

    <!-- assets/styles -->
    <!--STYLES-->

    <!--STYLES END-->
  </head>
  <body>
    <%- body %>

    <!-- assets/templates -->
    <!--TEMPLATES-->

    <!--TEMPLATES END-->

    <!-- assets/js -->
    <!--SCRIPTS-->

    <!--SCRIPTS END-->
  </body>
</html>
